body {
    background-color: rgb(255, 200, 200);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

label {
    vertical-align: middle;
}

input {
    font-size: large;
    border: 1px solid black;
    width: 40px;
    height: 30px;
    background-color: rgb(255, 200, 200);
}

button {
    font-family: 'Roboto', sans-serif;
    font-size: 3vh;
    border-radius: 10px;
    background-color: rgb(255, 169, 169);
    padding: 2vh 2vw;
    margin: 0 4vw;
    height: 8vh;
}

.button-counter {
    width: 6em;
    height: 12vh;
}

.div-inputs {
    border-radius: 10px;
    background-color: rgb(255, 169, 169);
    padding: 2vh 2vw;
    margin: 4vh 4vw;
    text-align: center;
}

.div-buttons {
    margin: 4vh 0;
    display: flex;
    justify-content: space-evenly;
}

.div-counters {
    margin: 4vh 0;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

#div-pip-element {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 10vw;
}

#div-pip-message {
    background-color: rgb(255, 169, 169);
    padding: 84px 10px;
    margin: 25px;
    text-align: center;
}

@media (display-mode: picture-in-picture) {
    #div-pip-element {
        height: 100vh;
        padding: 0 5vw;
    }
    button {
        font-size: 7vw;
        margin: 0 1vw;
        padding: 1vh 1vw;
        height: 18vh;
    }
    .button-counter {
        height: 36vh;
    }
    .div-buttons {
        margin: 0.5vw 0;
    }
    .div-counters {
        margin: 0.5vw 0 0 0;
    }
}

